.navbar-main
{
  background-color: #12181e;
}

.bren-logo
{
  height: 4vmin;
}

.social-icons {
  height: 4vmin;
  padding-left: 2vmin;
}

.drop-menu
{
  background-color: #12181e !important;
}

.drop-divider {
  border-color: #0B0C10 !important;
}

.item:hover, .item:active, .item:focus, .item:link {
  background-color: #3e5066 !important;
  -webkit-transition: .5s ease-out;
}
