.not-found {
  min-height: 80vh;
}

.not-found-type, .not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60px + 2vmin) !important;
  color: white !important;
}
